extends layout

block content
  div.container
    div.card
      div.card-header
        div.backdrop
        div.card-title Pizza hut
        img.card-header-image(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS17D9JFQweoJRSdWhSzP4IKtoWvXV3rV73SA&usqp=CAU')
      div.card-body
        div.edit
          a(href='#') Edit
        div.card-details
          div.categorey Italian
          div.rating
            span &#X2b50
            span &#X2b50
        div.description
          | afewiufghbiuergb as
          | raehgertheha5rte as
          | gahgeatrhhetrhrh as
